* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
table, td, th{
    border: 3px solid black;
    border-collapse: collapse;
}

th, td{
    height: 30px;
    width: 100px;
    font-size: 24px;
    text-align: center;
}

button{
    height: 50px;
    background-color: blue;
    width: 20%;
    color: white;
    margin-top: 5%;
    border-radius: 30px;


}